h1 {
    color: black;
}

.locationInputContainer {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 250px;
    margin-bottom: 30px;
  
  }
  
  .locationLabel {
    text-align: left;
    font-size: 1rem;
    color: #333;
  }
  
  .locationInput {
    background: url('./src/assets/location.svg') no-repeat;
    background-size: 16px 16px;
    background-position: 8px center;
    background-color: lightgray;
    padding-left: 32px;
    height: 40px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .locationInput::placeholder {
    color: black;
  }
  

.filtersContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  margin-left: 50px;
}

.filterLabel {
  text-align: left;
  font-size: 1rem;
  color: #333;
}

.filterBox {

  border: 1px solid #ddd;
  border-radius: 8px;

}

.filterBox h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #333;
}


.iconsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 10px;
  justify-items: center;
}


.iconItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.iconItem img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-bottom: 8px;
}

/* .icon-item span {
  font-size: 14px;
  color: #555;
} */



